<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自动签到账户停用通知</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <p>这是一封由程序自动生成的邮件，请勿回复！</p>
    <p>你选择了主动取消自动签到，或由于你提供的账号信息在3天内连续签到失败且你未能及时更新信息，现在已经停止为你自动签到。</p>
    <p>如果你希望继续使用，请回到注册页重新进行注册。</p>
    <br />
    <p>你提供的账号信息：{{ account }}</p>
    <hr />
    <p>最新通知</p>
    <p><b>{{ notice.title }}</b></p>
    <p>到期时间:{{ notice.time }}</p>
    <p>{{ notice.content }}</p>
</body>
</html>