<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}-自动签到状态提醒</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>这是一封由程序自动生成的邮件，请勿回复！</p>
    <p>自动签到程序将会使用你注册时填写的信息为你自动签到，并会在签到失败时向你发送邮件提醒。</p>
    <p>如果你<b>不希望进行自动签到</b>，请<a href="https://serene.net.cn/">点此</a>进入页面后勾选 取消签到 并提交</p>
    <p>自动签到程序启动时间约为20:30-21:00，此期间请注意是否收到签到失败的邮件或前往校芜优验证签到状态。</p>
    <p>签到状态如邮件中展示，如若签到失败请手动签到，多次失败请向此邮件发送反馈邮件，标题为 签到失败+你的签到问题，内容任意。</p>
    <hr />
    <p>以下为签到的信息</p>
    <p>签到：{{ info }}</p>
    <p>响应信息：</p>
    <pre>
        <code>
            {{ code }}
        </code>
    </pre>
    <hr />
    <p>最新通知</p>
    <p><b>{{ notice.title }}</b></p>
    <p>到期时间:{{ notice.time }}</p>
    <p>{{ notice.content }}</p>
</body>
</html>