aiofiles==23.2.1
aiomysql==0.2.0
aiosqlite==0.20.0
cryptography==43.0.1
ddddocr==1.5.5
fastapi==0.111.0
python-multipart==0.0.9
requests==2.31.0
yagmail==0.15.293
loguru==0.7.2
uvicorn==0.29.0
pycryptodome==3.21.0
Jinja2==3.1.4
httpx==0.27.2
contextlib2==21.6.0
numpy==1.22.4
urllib3==1.26.15
charset-normalizer==2.0.12